<div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-lg-8 col-sm-12 offset-md-2">
        <nav aria-label="breadcrumb" style="border-radius: 35px;">
          <ol class="breadcrumb" style="border-radius: 35px;">
            <div class="col-md-12">
              <h3 style="text-align: center;">Add Attraction Point</h3>
            </div>
          </ol>
        </nav>
        <div class="col-md-10 offset-md-1 col-sm-12">
          <mat-card style="border-radius: 35px;">
            <mat-card-content>
              <div class="col-md-12">
                <h5 style="text-align: center;">Upload Attraction point image</h5>
              </div>

              <div class="col-md-4 offset-4">
                <div *ngFor="let imgsrc of imgsrcs" class="img_div">
                  <img [src]="imgsrc" alt="" height="150px" class="img_ele" />
                  <div class="img_overlay">
                    <div class="c">
                      <h4 class="text" (click)="removeImage(imgsrc)">
                        remove
                      </h4>
                    </div>
                  </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px">
                  <button mat-raised-button color="primary" (click)="fileInput.click()" style="margin-left: 85px;">
                    Upload
                  </button>
                  <input hidden type="file" multiple #fileInput (change)="handleFileSelect($event)" />
                </div>
              </div>
              <form class="create-form" [formGroup]="exampleForm" novalidate (ngSubmit)="onSubmit(exampleForm.value)">
                <div class="row">
                  <div class="col-md-12">
                    <h5 style="text-align: center;">Attraction Point Details</h5>
                  </div>
                  <div class="col-md-8 offset-md-3">
                    <mat-form-field style="margin-left: 40px;">
                      <input matInput placeholder="Attraction Name" class="form-control"
                        formControlName="AttractionName" />
                    </mat-form-field>
                    <ng-container *ngFor="
                      let validation of validation_messages.AttractionName
                    ">
                      <mat-error *ngIf="
                        exampleForm
                          .get('AttractionName')
                          .hasError(validation.type) &&
                        (exampleForm.get('AttractionName').dirty ||
                          exampleForm.get('AttractionName').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                    <mat-form-field style="margin-left: 50px;">
                      <input matInput type="number" placeholder="Priority" class="form-control"
                        formControlName="Priority" />
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.Priority">
                      <mat-error *ngIf="
                        exampleForm.get('Priority').hasError(validation.type) &&
                        (exampleForm.get('Priority').dirty ||
                          exampleForm.get('Priority').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                  </div>
                  <div class="col-md-8 offset-md-3 offset-lg-4">
                    <mat-form-field style="margin-left: 50px;">
                      <input matInput type="number" placeholder="Price" class="form-control" formControlName="Price" />
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.Price">
                      <mat-error *ngIf="
                        exampleForm.get('Price').hasError(validation.type) &&
                        (exampleForm.get('Price').dirty ||
                          exampleForm.get('Price').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                  </div>
                  <div class="col-md-12">
                    <h5 style="text-align: center;">Time Information</h5>
                  </div>
                  <div class="col-md-8 offset-md-3">
                    <mat-form-field class="input-style" style="margin-left: 50px;">
                      <input matInput type="number" placeholder="travelDistance" class="form-control"
                        formControlName="travelDistance" />
                    </mat-form-field>
                    <ng-container *ngFor="
                      let validation of validation_messages.travelDistance
                    ">
                      <mat-error *ngIf="
                        exampleForm
                          .get('travelDistance')
                          .hasError(validation.type) &&
                        (exampleForm.get('travelDistance').dirty ||
                          exampleForm.get('travelDistance').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>

                    <mat-form-field class="input-style" style="margin-left: 50px;">
                      <input matInput type="number" placeholder="travelTime" class="form-control"
                        formControlName="travelTime" />
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.travelTime">
                      <mat-error *ngIf="
                        exampleForm
                          .get('travelTime')
                          .hasError(validation.type) &&
                        (exampleForm.get('travelTime').dirty ||
                          exampleForm.get('travelTime').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                  </div>
                  <div class="col-md-8 offset-md-3">
                    <mat-form-field class="input-style" style="margin-left: 50px;">
                      <input matInput type="number" placeholder="Activity Time (min)" class="form-control"
                        formControlName="Time" />
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.Time">
                      <mat-error *ngIf="
                        exampleForm.get('Time').hasError(validation.type) &&
                        (exampleForm.get('Time').dirty ||
                          exampleForm.get('Time').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                    <mat-form-field class="input-style" style="margin-left: 50px;">
                      <input matInput type="number" placeholder="Time Slots occupied" class="form-control"
                        formControlName="timeSlots" />
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.timeSlots">
                      <mat-error *ngIf="
                        exampleForm
                          .get('timeSlots')
                          .hasError(validation.type) &&
                        (exampleForm.get('timeSlots').dirty ||
                          exampleForm.get('timeSlots').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                  </div>
                  <div class="col-md-12">
                    <h5 style="text-align: center;">Type and City</h5>
                  </div>
                  <div class="col-md-8 offset-md-3 offset-sm-1">
                    <mat-form-field style="margin-left: 30px;">
                      <mat-select placeholder="Type" formControlName="Type">
                        <mat-option *ngFor="let op of type" [value]="op">
                          {{ op }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.Type">
                      <mat-error *ngIf="
                        exampleForm.get('Type').hasError(validation.type) &&
                        (exampleForm.get('Type').dirty ||
                          exampleForm.get('Type').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                    <mat-form-field class="input-style" style="margin-left: 80px;">
                      <mat-select placeholder="City" formControlName="City">
                        <mat-option *ngFor="let op of routeList" [value]="op.CityName">
                          {{ op.CityName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.City">
                      <mat-error *ngIf="
                        exampleForm.get('City').hasError(validation.type) &&
                        (exampleForm.get('City').dirty ||
                          exampleForm.get('City').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                  </div>
                  <div class="col-md-12">
                    <h5 style="text-align: center;">Description</h5>
                  </div>
                  <div class="col-md-6 offset-md-4">
                    <mat-form-field class="input-style" style="margin-left: 50px;">
                      <textarea matInput class="form-control" formControlName="Description"
                        style="width: 100%;"></textarea>
                    </mat-form-field>
                    <ng-container *ngFor="let validation of validation_messages.Description">
                      <mat-error *ngIf="
                        exampleForm
                          .get('Description')
                          .hasError(validation.type) &&
                        (exampleForm.get('Description').dirty ||
                          exampleForm.get('Description').touched)
                      ">{{ validation.message }}</mat-error>
                    </ng-container>
                  </div>


                  <div class="row submit-button-container col-md-4 offset-5">
                    <button style="width: 50%;" mat-raised-button class="submit-button" color="primary"
                      (click)="Submit()" [disabled]="!exampleForm.valid">
                      Create
                    </button>
                  </div>
                </div>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
  </div>

  <hr />
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4">
    <!-- Footer Links -->

    <!-- Footer Links -->

    <!-- Copyright -->

    <div class="footer-copyright text-center py-3">
      Â© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> RADTech.com</a>
    </div>
    <img style="height: 50px; width: 50px; margin-left: 600px;" src="assets/logo.png" alt="df" />
    <!-- Copyright -->
  </footer>
  <!-- Footer -->