<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">
  <!--Section heading-->
  <div class="loly" style="font-family: 'Courier New', Courier, monospace;">
    <br />
    <h1 class="section-heading h1 pt-4" style="color: white; margin-top: 10%;">
      ABOUT PAK TOURING
    </h1>
    <br />
    <!--Section description-->
    <h5 class="section-description" style="color: white;">
      For over 13 years we are providing premium services as established IT
      Company of Islamabad. Our portfolio depicts the broad range of services
      comprising but not limited to Website Design & Development, Web Marketing
      & Advertising, SEO, SEM, Software & Android Applications Development, Web
      Hosting, Domain Name Registration,
    </h5>
    <br />
    <br />
  </div>

  <h1 class="section-heading h1 pt-4">Executive Leadership</h1>
  <br />

  <div class="row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="background-color: gray;">
        <!--Background color-->
        <div class="card-up teal lighten-2"></div>

        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img
            src="assets/2.jpg"
            alt="avatar mx-auto white"
            class="rounded-circle img-fluid"
          />
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">Arish Fateh Ali</h4>
          <hr />
          <!--Quotation-->
          <p><mdb-icon fas icon="quote-left"></mdb-icon> Software Developer</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="background-color: gray;">
        <!--Background color-->
        <div class="card-up teal lighten-2"></div>

        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img
            src="assets/3.jpg"
            alt="avatar mx-auto white"
            class="rounded-circle img-fluid"
          />
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">Daniyal Ashraf</h4>
          <hr />
          <!--Quotation-->
          <p><mdb-icon fas icon="quote-left"></mdb-icon> Software Developer</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">
      <!--Card-->
      <div class="card testimonial-card" style="background-color: gray;">
        <!--Background color-->
        <div class="card-up teal lighten-2"></div>

        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img
            src="assets/1.jpg"
            alt="avatar mx-auto white"
            class="rounded-circle img-fluid"
          />
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">Rohaan Ashfaque</h4>
          <hr />
          <!--Quotation-->
          <p><mdb-icon fas icon="quote-left"></mdb-icon> Software Developer</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
    <!--Grid column-->
  </div>
  <!-- Grid row -->
  <div>
    <link
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />

    <header class="ccheader">
      <h1>Contact Us</h1>
    </header>

    <div class="wrapper">
      <form method="post" action="" class="ccform">
        <div class="ccfield-prepend">
          <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
          <input
            class="ccformfield"
            type="text"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="ccfield-prepend">
          <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span>
          <input class="ccformfield" type="text" placeholder="Email" required />
        </div>
        <div class="ccfield-prepend">
          <span class="ccform-addon"
            ><i class="fa fa-mobile-phone fa-2x"></i
          ></span>
          <input class="ccformfield" type="text" placeholder="Phone" />
        </div>
        <div class="ccfield-prepend">
          <span class="ccform-addon"><i class="fa fa-info fa-2x"></i></span>
          <input
            class="ccformfield"
            type="text"
            placeholder="Subject"
            required
          />
        </div>
        <div class="ccfield-prepend">
          <span class="ccform-addon"><i class="fa fa-comment fa-2x"></i></span>
          <textarea
            class="ccformfield"
            name="comments"
            rows="8"
            placeholder="Message"
            required
          ></textarea>
        </div>
        <div class="ccfield-prepend">
          <input class="ccbtn" type="submit" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</section>
<hr />
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <!-- Footer Links -->

  <!-- Footer Links -->

  <!-- Copyright -->

  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="https://mdbootstrap.com/education/angular/"> RADTech.com</a>
  </div>
  <img
    style="height: 50px; width: 50px; margin-left: 600px;"
    src="assets/logo.png"
    alt="df"
  />
  <!-- Copyright -->
</footer>
<!-- Footer -->
